<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The homepage <%= 'helloworld' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta nobis libero totam eaque magnam, aliquam
        deserunt omnis placeat error laborum eveniet officiis facilis, eligendi nisi voluptates id repellat sint.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi quisquam nostrum perferendis, fugiat harum
        rem ad velit exercitationem consequuntur tempore beatae dolorum assumenda adipisci repellendus at commodi atque
        debitis laborum.</p>

</body>

</html>