<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
</head>

<body>
    <h1>List of all Users</h1>
    <%=messages%>
        <ul>
            <% users.forEach((user)=>{ %>
                <li>
                    <a href="/users/<%=user._id%>">
                        <%= user.name %>
                    </a>, <%= user.age %>
                </li>
                <% }) %>
        </ul>

        <a href="/users/new">
            <button>Create New User</button>
        </a>
        <br>
        <a href="/tweets">
            <button>List All Tweets</button>
        </a>


</body>

</html>